<div class="row">
  <h1>Estudios</h1>
  <div class="col-lg-12">
    <ul>
      <li>
        <h1>Escuela primaria</h1> - <h3>(años)</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque modi, culpa sunt accusamus, rem provident voluptatibus tempora quaerat magnam labore dignissimos cum consectetur praesentium, voluptate dicta eum vero quis aperiam?</p>
      </li>
    </ul>
    <ul>
      <li>
        <h1>Escuela secundaria</h1> - <h3>(años)</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque modi, culpa sunt accusamus, rem provident voluptatibus tempora quaerat magnam labore dignissimos cum consectetur praesentium, voluptate dicta eum vero quis aperiam?</p>
      </li>
    </ul>
    <ul>
      <li>
        <h1>Otros estudios</h1> - <h3>(años)</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque modi, culpa sunt accusamus, rem provident voluptatibus tempora quaerat magnam labore dignissimos cum consectetur praesentium, voluptate dicta eum vero quis aperiam?</p>
      </li>
    </ul>
  </div>
</div>

